* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 1vh;
  }
  
  header {
    border-bottom: 1px solid #000000;
    position: relative;
    text-align: center;
    justify-content: space-between;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    pointer-events: none; /* Не кликабельный */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .cart-btn {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  #cart-items {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .cart-item {
    background-color: #fff;
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
  }
  
  .cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .cart-item-details {
    flex-grow: 1;
  }
  
  .cart-item-details h3 {
    margin: 0;
    font-size: 1.1rem;
  }
  
  .cart-item-details p {
    margin: 0.2rem 0;
    color: #666;
  }
  .cart-link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid transparent;
    padding: 6px 12px;
    border-radius: 1vh;
    transition: border-color 0.2s ease;
    cursor: pointer;
    display: inline-block;
  }
  
  .cart-link:hover {
    border-color: #000;
  }
  #total-price {
    font-weight: bold;
    color: #000;
  }
  
  button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #333;
  }
  
  footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 0.9rem;
  }
  